doctype
html
  head
    meta(charset='utf-8')
    title My SNS Login
    style.
      .input-group label {
        width: 200px;
        display: inline-block;
      }
  body
    if user && user.id
      span.user-name= 'Hello! ' + user.nick + '!!'
      a(href='/auth/logout'): button Logout
      fieldset
        legend Register Domain
        form(action='/domain' method='post')
          div
            label(for='type-free') Free
            input#type-free(type='radio' name='type' value='free')
            label(for='type-premium') Premium
            input#type-premium(type='radio' name='type' value='premium')
          div
            label(for='host') Domain
            input#host(name='host' placeholder="ex) rawcoder.info")
          button Save
      table
        tr
          th Domain Address
          th Type
          th Client Secret Key
        for domain in user.domains
          tr
            td= domain.host
            td= domain.type
            td= domain.clientSecret

    else
      form#login-form(action='/auth/login' method='post')
        h2 Login with My SNS account
        .input-group
          label(for='email') e-mail
          input#email(type='email' name='email' required autofocus)
        .input-group
          label(for='password') Password
          input#password(type='password' name='password' required)
        if loginError
          .error-message= loginError
        a(href='/join'): button#join(type='button') Signup
        button#login(type='submit') Login